ul {
  text-align: center;
  margin: 40px;
}

li {
  display: inline;
  
}
.navigation{
margin-left: auto;
  margin-right: auto;
}


a:hover{
	background-color: #1a8cff;
}
a{
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 15px;
	font-family: Arial Black;
	color: white;
	background-color: #4da6ff;
}
.hero-image{
	background-image: url("praca.png");
	width: 700px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}
.main{
	width: 700px;
	margin-left: auto;
    margin-right: auto;
}
.footer{
		position: fixed;
	   left: 0;
	   bottom: 0;
	   width: 100%;
	   background-color: #4da6ff;
	   color: white;
	   text-align: center;
	   font-size: 12px;
}
.main-content{
	line-height: 1.8;
}
a.job-offer{
	width: 40%;
	float:left;
	text-align: center;
	margin: 5px;
	background-color: #686E76;
	font-family: Arial Black;
	border-radius: 20px;
	color: white;
}
a.job-offer:hover{
	background-color: #46484C;
}